body {
    margin: 0;
    padding: 0;
    background-color: #17023d;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.One {
    width: 100%;
    margin-top: 100px;
}

.Hello {
    width: 400px;
    margin: 0 auto;
    background-color: rgb(39, 8, 97);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(20, 5, 87);
}

img {
    display: block;
    margin: 0 auto;
}

p {
    font-size: 14px;
    line-height: 1.6;
    color: #a251d8;
}

button {
    padding: 8px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #0b49cf;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0040b6;
}
